.claude/
.vs/
FFMETestApp/bin/Release/net10.0-windows/ffmpegbin/swresample-6.dll
FFMETestApp/bin/Release/net10.0-windows/ffmpegbin/swscale-9.dll
FFMETestApp/bin/Release/
FFMETestApp/bin/Debug/net10.0-windows/ffme.win.dll
FFMETestApp/bin/Debug/net10.0-windows/FFMETestApp.deps.json
FFMETestApp/bin/Debug/net10.0-windows/FFMETestApp.dll
FFMETestApp/bin/Debug/net10.0-windows/FFMETestApp.exe
FFMETestApp/bin/Debug/net10.0-windows/FFMETestApp.pdb
FFMETestApp/bin/Debug/net10.0-windows/FFMETestApp.runtimeconfig.json
FFMETestApp/bin/Debug/net10.0-windows/FFmpeg.AutoGen.dll
FFMETestApp/bin/Debug/net10.0-windows/ffmpegbin/avcodec-62.dll
FFMETestApp/bin/Debug/net10.0-windows/ffmpegbin/avdevice-62.dll
FFMETestApp/bin/Debug/net10.0-windows/ffmpegbin/avfilter-11.dll
FFMETestApp/bin/Debug/net10.0-windows/ffmpegbin/avformat-62.dll
FFMETestApp/bin/Debug/net10.0-windows/ffmpegbin/avutil-60.dll
FFMETestApp/bin/Debug/net10.0-windows/ffmpegbin/swresample-6.dll
FFMETestApp/bin/Debug/net10.0-windows/ffmpegbin/swscale-9.dll
FFMETestApp/obj/FFMETestApp.csproj.nuget.dgspec.json
FFMETestApp/obj/
Context.md
FFMEvsMediaElementTradeoff.md
Videos/GitIgnored-4K30fps.mp4
